@import '../../../styles/utils.scss';

.wrapper{
    header{
        width: 100%;
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 40;
    }

    .content{
        width: 1200px;
        margin: 0 auto;
        &.padding{
            padding-top: 3.5rem;
        }
        &.responsive{
           @include responsive();
           padding-left: 1rem;
           padding-right: 1rem;
        }
    }
}