
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;    
    font-weight: 400;
    // color:material-color('grey','50');
    opacity:.7;
    cursor: pointer;
    // transition: all .3s;
    user-select: none;
    &:hover{
        opacity: 1;
        // font-weight: 700;
    }
}